body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  padding: 20px;
  width: 80%;
  margin: 30px auto;
}

.info-box {
  border: 1px solid #000;
  padding: 15px;
  margin-bottom: 25px;
}

.info-box h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.info-box p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.info-box a {
  font-size: 15px;
  text-decoration: underline;
  color: black;
}

.image-box h2, .trivia-box h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.image-box img {
  width: 500px;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.image-box a {
  text-decoration: underline;
  font-size: 15px;
  color: black;
}

.trivia-box ol {
  padding-left: 20px;
}

.trivia-box li {
  font-size: 15px;
  margin-bottom: 5px;
}

.heading {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  border-bottom: 2px solid black; /* thickness reduced */
  padding-bottom: 3px; /* small space */
}


nav a:hover,
nav a.active {
  border-bottom: 1.5px solid black;
  padding-bottom: 0;     /* underline shortest */
  display: inline-block; /* helps shorten underline */
  width: fit-content;
}


